extends ../layout 
append head
  title Admin | U-Hoop
  link(rel="stylesheet" href="admin/main.css")
  link(rel="shortcut icon" type="image/png" href="./assets/logo.png")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous")
block content
  .container
    .row.justify-content-center
      form(class="form-signin w-50 mt-5")
        h2(class="form-signin-heading mb-3") Please sign in
        label(for="inputEmail" class="sr-only") Username
        input(type="email" id="inputEmail" class="form-control mb-3" placeholder="Username" autofocus)
        label(for="inputPassword" class="sr-only") Password
        input(type="password" id="inputPassword" class="form-control mb-3" placeholder="Password")
        button(class="btn btn-lg btn-primary btn-block" type="button") Login
  script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
  script(defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js")
  script(asynce, src="admin/index.js")
