html, body {
  height: 100vh;
}

body {
  padding-top: 58px;
  background: #343a40!important;
}

.nav-logo {
  margin-right: 10px;
}

#hero-img {
  background-image: url("/assets/basketball.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 525px;
  max-width: 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tag {
  font-size: 80px;
}

.sub-tag {
  margin-top: 20px;
  margin-bottom: 20px;
}

.global-network {
  padding: 50px;
  text-align: center;
}

.global-network-text {
  display: flex;
  justify-content: center;
}

.global-network-p {
  width: 50%;
  line-height: 2;
  font-size: 20px;
}

.three-perks {
  padding: 30px;
  background: url('/assets/gym-background.jpg');
  background-size: cover;
  max-width: 100%;
}

.icon {
  color: #ee6058;
}


.divider {
  padding-top: 20px;
  padding-bottom: 20px;
}

#join-us-btn {
  width: 140px;
  height: 40px;
  align-self: center;
  margin-top: 20px;
  border: 2px solid;
}

.explore-opportunity {
  padding: 50px;
}

.semi-cards {
  background: rgb(30, 33, 35);
  margin-bottom: 45px;
}

.success-stories {
  padding: 50px;
}

@media (max-width: 768px) { 

  .global-network-p {
    width: 200%;
  }
}

@media (max-width: 576px) {
  .tag {
    font-size: 45px;
  }
}



