html, body {
  height: 100vh;
}

body {
  /* padding-top: 58px; */
  background: #343a40!important;
}

nav {
  background: #343a40;
}

.nav-link:hover {
  color: #f31a0a!important;
}

.nav-link {
  color: white!important;
  margin-right: 10px;
}

.nav-logo {
  margin-right: 10px;
}

#hero-img {
  background-image: url("/assets/basketball.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  max-width: 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tag {
  font-size: 80px;
}

.sub-tag {
  margin-top: 20px;
  margin-bottom: 20px;
}

.global-network {
  padding: 100px;
  text-align: center;
}

.section-title {
  font-size: 45px;
}

.global-network-text {
  display: flex;
  justify-content: center;
}

.global-network-p {
  width: 50%;
  line-height: 2;
  font-size: 20px;
}

.three-perks {
  padding: 120px;
  background: url('/assets/gym-background.jpg');
  background-size: cover;
  max-width: 100%;
}

.icon {
  color: #ee6058;
}


.divider {
  padding-top: 40px;
  padding-bottom: 40px;
}

.join-us-btn {
  width: 140px;
  height: 40px;
  align-self: center;
  margin-top: 20px;
  border: 2px solid white;
}

.explore-opportunity {
  padding: 100px;
}



.semi-cards {
  background: rgb(30, 33, 35);
  margin-bottom: 45px;
  padding: 25px;
}

.success-stories {
  padding: 50px;
}

.join-red-section {
  padding: 60px;
  background: url("/assets/home-parallax.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.subscribe {
  padding: 100px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-text {
  width: 50%
}

.subscribe-width {
  width: 70%;
}

footer {
  background: #191c1e;
  display: flex;
  padding-top: 15px;
  font-size: 14px;
}

.left-side-footer {
  display: flex;
}

.space {
  padding-left: 30px;
  padding-right: 30px;
}

.left-space {
  padding-left: 30px;
}

.side-bars {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.link {
  margin-left: 10px;
  /* padding: 2px;
  background: white; */
}

.join {
  margin-top: 10px;
}

@media (min-width: 992px) {
  nav {
    background: transparent;
  }
}

@media (max-width: 768px) { 

  .global-network-p {
    width: 200%;
  }
}

@media (max-width: 576px) {
  .tag {
    font-size: 45px;
  }

  .link {
    margin-right: 5px;
  }

  .space {
    padding-left: 5px;
    padding-right: 5px;
  }

  .left-space {
    padding-left: 5px;
  }

  .left-side-footer {
    font-size: 11px;
    text-align: center;
  }

  ul {
    list-style: none;
  }
  .red-join-us {
    text-align: center;
  }

  .subscribe {
    padding: 50px;
  }

  .subscribe-width {
    width: 70%;
  }
}



