html, body {
  height: 100vh;
}

#hero-img {
  background-image: url("/assets/basketball.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 525px;
  max-width: 100%;
}

.tag {
  font-size: 90px;
  
}