extends ../layout 
append head
  link(rel="stylesheet" href="about/main.css")
  title About | U-Hoops 
  link(rel="shortcut icon" type="image/png" href="./assets/logo.png")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous")
  
block content 
  nav(class="navbar navbar-expand-lg navbar-dark fixed-top")
    a(class="navbar-brand" href="/") 
      img(src="/assets/logo.png" width="30" height="30" class="d-inline-block align-top nav-logo")
      | U-Hoops 
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent")
      ul(class="navbar-nav")
        li(class="nav-item")
          a(class="nav-link" href="/") Home
        li(class="nav-item dropdown")
          a(class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Services
          div(class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink")
            a(class="dropdown-item" href="/tours") Tours 
            a(class="dropdown-item" href="/training-camps") Training Camps
            a(class="dropdown-item" href="/courses") Online Courses
        li.nav-item
          a(class="btn btn-outline-light" href="/login") Login
        li.nav-item
          a(class="btn btn-outline-light" href="/register") Sign up
  div(id="hero-img" class="text-center container")
    h2.text-white.tag About Us
  // need tag 
  // need mission
  // need team 
  // need an news section to show the places DeMarcus has been on
  script(asynce, src="about/index.js")
  script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
  script(defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js")

